master/jade/views/tercero/tercero_list.jade
h3 Clientes
  small Control de Clientes
  
.row.col-xs-11
  .panel
    .panel-body.p0
      .mb-sm.clearfix
      .mb-sm.clearfix
        label.col-md-2.control-label Estado:
        .col-md-5
          select.form-control(ng-model='estadoTercero.current', ng-options='item.descripcion for item in estadoTercero.data', ng-change="terceros.getData()")
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='terceros.filter()' ng-model='terceros.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='terceros.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.SELECT' | translate }}", ng-click='terceros.selectAll()')
              span: em.text-primary.icon-check
              span.hidden-xs {{ 'app.SELECT' | translate }}            
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr              
              th IDENTIFICACION
              th NOMBRE 
              th EMAIL
              th TELEFONO  
              th ESTADO  
              th 
          tbody
            td.height-lg(colspan="7", ng-show="terceros.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="7", ng-show="terceros.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in terceros.data ", ng-class="{true: 'active'}[item.check]")
              
              td {{ item.identificacion }}
              td {{ item.nombre }}
              td {{ item.correo }}
              td {{ item.telefono }}              
              td
               span.label.label-primary(ng-if="item.estado == ESTADO_ACTIVO") Activo
               span.label.label-default(ng-if="item.estado == ESTADO_INACTIVO") Inactivo
               span.label.label-warning(ng-if="item.estado == ESTADO_ELIMINADO") Eliminado
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar tercero", tooltip-placement='bottom', ng-click='terceros.edit(item)')
                    em.icon-trash.mr.text-danger(tooltip="Eliminar tercero", tooltip-placement='bottom', ng-click='terceros.removeItem(item)')
    .row
      .col-lg-12(ng-hide='terceros.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='terceros.paginations.totalItems',ng-model='terceros.paginations.currentPage',max-size='terceros.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='terceros.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='terceros.paginations.numPages', ng-change='terceros.changePage()', first-text="«", last-text="»")

app/views/parameter/tercero/tercero_list.html
<h3>Terceros
   <small>Control de terceros</small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="terceros.filter()" ng-model="terceros.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="terceros.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.SELECT' | translate }}" ng-click="terceros.selectAll()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-primary icon-check"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.SELECT' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.DELETE' | translate }}" ng-click="terceros.remove()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-danger icon-trash"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.DELETE' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th></th>
                     <th>IDENTIFICACION</th>
                     <th>NOMBRE</th>
                     <th>EMAIL</th>
                     <th>TELEFONO</th>
                     <th>ESTADO</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="terceros.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="terceros.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in terceros.data | orderBy: 'nombre'" ng-class="{true: 'active'}[item.check]">
                     <td class="wd-xxs">
                        <div class="checkbox c-checkbox m0">
                           <label>
                              <input type="checkbox" ng-model="item.check" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td>{{ item.identificacion }}</td>
                     <td>{{ item.nombre }}</td>
                     <td>{{ item.correo }}</td>
                     <td>{{ item.telefono }}</td>
                     <td>
                        <span ng-if="item.estado == ESTADO_ACTIVO" class="label label-primary">Activo</span>
                        <span ng-if="item.estado == ESTADO_INACTIVO" class="label label-default">Inactivo</span>
                        <span ng-if="item.estado == ESTADO_ELIMINADO" class="label label-warning">Eliminado</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar tercero" tooltip-placement="bottom" ng-click="terceros.edit(item)" class="icon-pencil mr"></em>
                           <em tooltip="Eliminar tercero" tooltip-placement="bottom" ng-click="terceros.removeItem(item)" class="icon-trash mr text-danger"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="terceros.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="terceros.paginations.totalItems" ng-model="terceros.paginations.currentPage" max-size="terceros.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="terceros.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="terceros.paginations.numPages" ng-change="terceros.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>
