master/jade/views/agenda/agenda.jade
.modal-header.p-sm.pl-lg.pr-lg
  header
    span.text-light.lead AGENDAS
      a.pull-right(type="button", ng-click="agenda.close()")
        span.fa.fa-times.text-danger
.modal-body.clearfix
    .row
       div.mb-sm.clearfix
        tabset.bg-white.p0(justified='true')
         tab
           tab-heading Informacion
           br
           .mb-sm.clearfix
              label.col-md-2.control-label  Fecha Inicial
              .col-md-3
                .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd ", ng-model="agenda.fechaInicial.value", is-open="agenda.fechaInicial.isOpen", datepicker-options="agenda.fechaInicial.dateOptions", readonly="true",   show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='agenda.fechaInicial.open($event)')
                          i.fa.fa-calendar  
              label.col-md-2.control-label Fecha Final
              .col-md-3                
                .input-group
                            input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="agenda.fechaFinal.value", is-open="agenda.fechaFinal.isOpen", datepicker-options="agenda.fechaFinal.dateOptions", readonly="true", show-button-bar="false")
                            span.input-group-btn
                             button.btn.btn-sm.btn-default(type='button', ng-click='agenda.fechaFinal.open($event)')
                              i.fa.fa-calendar                        
            .mb-sm.clearfix 
               label.col-md-2.control-label  Hora Inicial
               .col-md-3               
                    uib-timepicker(ng-model='agenda.fechaInicial.value', ng-change='agenda.horaInicial.changed()', hour-step='agenda.horaInicial.hstep', minute-step='agenda.horaInicial.mstep', show-meridian='agenda.horaInicial.ismeridian')    
                          
                label.col-md-2.control-label  Hora Final
               .col-md-3               
                    uib-timepicker(ng-model='agenda.fechaFinal.value', ng-change='agenda.horaFinal.changed()', hour-step='agenda.horaFinal.hstep', minute-step='agenda.horaFinal.mstep', show-meridian='agenda.horaFinal.ismeridian')
                          
           .mb-sm.clearfix
              label.col-md-1.control-label Asunto
              .col-md-10
               input.form-control.input-sm(ng-model='agenda.model.asunto', ng-maxlength="80", ng-pattern="asunto", required)  
           .mb-sm.clearfix
              label.col-md-1.control-label Descripción
              .col-md-10
                textarea.form-control.form-sm(ng-model='agenda.model.descripcion', required) 
                
           .mb-sm.clearfix
             label.col-md-1.control-label Estado
             .col-md-3                         
                select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==agenda.model.estado") 
             label.col-md-2.control-label Tipo 
             .col-md-5
                 select.form-control(ng-model='tipoAgenda.current', ng-options="tipo.descripcion for tipo in tipoAgenda.data", ng-selected='tipo.Codigo==contrato.model.tipoAgendaId', ng-change='tipoAgenda.setTipo()')                
            .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='agenda.save()')
                    span GUARDAR  
                  button.btn.btn-sm.btn-default(type='button', tooltip='Cancelar', ng-click='agenda.cancel()')
                    span CANCELAR  
                  button.btn.btn-sm.btn-default(type='button', tooltip='Adjuntos', ng-click='agenda.uploadFile()', ng-show="modoEdicion")
                    span ADJUNTOS
                  button.btn.btn-sm.btn-default(type='button', tooltip='Seguimientos', ng-click='agenda.seguimiento()',ng-show="modoEdicion")
                    span ...             
          tab
            tab-heading Responsables      
            br
            div.mb-sm.clearfix
             .col-md-5
                ui-select(ng-model='funcionarios.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione ') {{$select.selected.nombre}}
                      ui-select-choices(repeat="m in funcionarios.data | propsFilter: {nombre: $select.search, cargo: $select.search} | orderBy: ['nombre', 'cargo']")
                        div(ng-bind-html='m.nombre | highlight: $select.search')
                        small {{m.cargo}}              
              .col-md-3
               button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Responsable", ng-click='agenda.addResponsable()')
                span
                 em.icon-plus
                span.ng-binding Agregar Responsable
            .panel-body.p0
             .table-responsive.table-bordered
               table.table.table-hover.wd-wide
                 thead
                   tr
                     th Nombre
                     th
                 tbody
                   tr(ng-repeat="item in agenda.model.responsables")
                      td {{ item.nombre }}
                      td.wd-sm
                          .ph.m0.text-muted.visible-inline.pull-right                              
                              em.icon-trash.mr.text-danger(tooltip="Eliminar Responsable", tooltip-placement='bottom', ng-click='agenda.removeResponsable(item)')      
    .row
      .col-md-12
        .table-responsive.table-bordered
          table.table.table-hover.wd-wide
            thead
              tr
                th ASUNTO
                th FECHA INICIAL
                th FECHA FINAL                
                th USUARIO
                th
                th(ng-hide="hideDelete")
            tbody
              td.height-sm(colspan="7", ng-show="agenda.loading")
                p.text-center
                  i.fa.fa-spinner.fa-spin.fa-2x.text-muted
                p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
              td.height-sm(colspan="7", ng-show="agenda.noData")
                p.text-center.lead.text-primary No se encontraron adjuntos
              tr(ng-repeat="item in agenda.data", ng-class="{true: 'active'}[item.check]")
                td {{ item.asunto }}
                td {{ item.fechaInicial | date:'dd/M/yyyy hh:mm'  }}
                td {{ item.fechaFinal | date:'dd/M/yyyy hh:mm' }}
                td {{ item.usuarioReg }}
                td.wd-xxs
                  button.btn.btn-xs.btn-primary(ng-click="agenda.editar(item.id)")
                    span.fa.fa-edit
                td.wd-xxs(ng-hide="hideDelete")
                  button.btn.btn-xs.btn-danger(ng-click="agenda.eliminar(item.id)")
                    span.fa.fa-trash-o
    .row
      .col-lg-12(ng-hide='agenda.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='agenda.paginations.totalItems',ng-model='agenda.paginations.currentPage',max-size='agenda.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='agenda.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='agenda.paginations.numPages', ng-change='agenda.changePage()', first-text="«", last-text="»")

app/views/agenda/agenda.html
<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">AGENDAS
         <a type="button" ng-click="agenda.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="row">
      <div class="mb-sm clearfix">
         <tabset justified="true" class="bg-white p0">
            <tab>
               <tab-heading>Informacion</tab-heading>
               <br/>
               <div class="mb-sm clearfix">
                  <label class="col-md-2 control-label">Fecha Inicial</label>
                  <div class="col-md-3">
                     <div class="input-group">
                        <input type="text" uib-datepicker-popup="yyyy/MM/dd " ng-model="agenda.fechaInicial.value" is-open="agenda.fechaInicial.isOpen" datepicker-options="agenda.fechaInicial.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                        />
                        <span class="input-group-btn">
                           <button type="button" ng-click="agenda.fechaInicial.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                           </button>
                        </span>
                     </div>
                  </div>
                  <label class="col-md-2 control-label">Fecha Final</label>
                  <div class="col-md-3">
                     <div class="input-group">
                        <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="agenda.fechaFinal.value" is-open="agenda.fechaFinal.isOpen" datepicker-options="agenda.fechaFinal.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                        />
                        <span class="input-group-btn">
                           <button type="button" ng-click="agenda.fechaFinal.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar">                       </i>
                           </button>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <label class="col-md-2 control-label">Hora Inicial</label>
                  <div class="col-md-3">
                     <uib-timepicker ng-model="agenda.fechaInicial.value" ng-change="agenda.horaInicial.changed()" hour-step="agenda.horaInicial.hstep" minute-step="agenda.horaInicial.mstep" show-meridian="agenda.horaInicial.ismeridian"></uib-timepicker>
                  </div>
                  <label class="col-md-2 control-label">Hora Final</label>
                  <div class="col-md-3">
                     <uib-timepicker ng-model="agenda.fechaFinal.value" ng-change="agenda.horaFinal.changed()" hour-step="agenda.horaFinal.hstep" minute-step="agenda.horaFinal.mstep" show-meridian="agenda.horaFinal.ismeridian"></uib-timepicker>
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <label class="col-md-1 control-label">Asunto</label>
                  <div class="col-md-10">
                     <input ng-model="agenda.model.asunto" ng-maxlength="80" ng-pattern="asunto" required="required" class="form-control input-sm" />
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <label class="col-md-1 control-label">Descripción</label>
                  <div class="col-md-10">
                     <textarea ng-model="agenda.model.descripcion" required="required" class="form-control form-sm"></textarea>
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <label class="col-md-1 control-label">Estado</label>
                  <div class="col-md-3">
                     <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==agenda.model.estado" class="form-control"></select>
                  </div>
                  <label class="col-md-2 control-label">Tipo</label>
                  <div class="col-md-5">
                     <select ng-model="tipoAgenda.current" ng-options="tipo.descripcion for tipo in tipoAgenda.data" ng-selected="tipo.Codigo==contrato.model.tipoAgendaId" ng-change="tipoAgenda.setTipo()" class="form-control"></select>
                  </div>
               </div>
               <div class="mb-lg clearfix">
                  <button type="button" tooltip="Guardar" ng-click="agenda.save()" class="btn btn-sm btn-primary">
                     <span>GUARDAR</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="agenda.cancel()" class="btn btn-sm btn-default">
                     <span>CANCELAR</span>
                  </button>
                  <button type="button" tooltip="Adjuntos" ng-click="agenda.uploadFile()" ng-show="modoEdicion" class="btn btn-sm btn-default">
                     <span>ADJUNTOS</span>
                  </button>
                  <button type="button" tooltip="Seguimientos" ng-click="agenda.seguimiento()" ng-show="modoEdicion" class="btn btn-sm btn-default">
                     <span>...</span>
                  </button>
               </div>
            </tab>
            <tab>
               <tab-heading>Responsables</tab-heading>
               <br/>
               <div class="mb-sm clearfix">
                  <div class="col-md-5">
                     <ui-select ng-model="funcionarios.current" theme="bootstrap">
                        <ui-select-match placeholder="Seleccione ">{{$select.selected.nombre}}</ui-select-match>
                        <ui-select-choices repeat="m in funcionarios.data | propsFilter: {nombre: $select.search, cargo: $select.search} | orderBy: ['nombre', 'cargo']">
                           <div ng-bind-html="m.nombre | highlight: $select.search"></div>
                           <small>{{m.cargo}}</small>
                        </ui-select-choices>
                     </ui-select>
                  </div>
                  <div class="col-md-3">
                     <button type="button" tooltip="Agregar Responsable" ng-click="agenda.addResponsable()" class="btn btn-sm btn-primary">
                        <span>
                           <em class="icon-plus"></em>
                        </span>
                        <span class="ng-binding">Agregar Responsable</span>
                     </button>
                  </div>
               </div>
               <div class="panel-body p0">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th>Nombre</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in agenda.model.responsables">
                              <td>{{ item.nombre }}</td>
                              <td class="wd-sm">
                                 <div class="ph m0 text-muted visible-inline pull-right">
                                    <em tooltip="Eliminar Responsable" tooltip-placement="bottom" ng-click="agenda.removeResponsable(item)" class="icon-trash mr text-danger"></em>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </tab>
         </tabset>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>ASUNTO</th>
                     <th>FECHA INICIAL</th>
                     <th>FECHA FINAL</th>
                     <th>USUARIO</th>
                     <th></th>
                     <th ng-hide="hideDelete"></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="7" ng-show="agenda.loading" class="height-sm">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="7" ng-show="agenda.noData" class="height-sm">
                     <p class="text-center lead text-primary">No se encontraron adjuntos</p>
                  </td>
                  <tr ng-repeat="item in agenda.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.asunto }}</td>
                     <td>{{ item.fechaInicial | date:'dd/M/yyyy hh:mm' }}</td>
                     <td>{{ item.fechaFinal | date:'dd/M/yyyy hh:mm' }}</td>
                     <td>{{ item.usuarioReg }}</td>
                     <td class="wd-xxs">
                        <button ng-click="agenda.editar(item.id)" class="btn btn-xs btn-primary">
                           <span class="fa fa-edit"></span>
                        </button>
                     </td>
                     <td ng-hide="hideDelete" class="wd-xxs">
                        <button ng-click="agenda.eliminar(item.id)" class="btn btn-xs btn-danger">
                           <span class="fa fa-trash-o"></span>
                        </button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="row">
      <div ng-hide="agenda.paginations.numPages == 1" class="col-lg-12">
         <pagination total-items="agenda.paginations.totalItems" ng-model="agenda.paginations.currentPage" max-size="agenda.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="agenda.paginations.itemsPerPage" previous-text="‹" next-text="›"
         num-pages="agenda.paginations.numPages" ng-change="agenda.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
      </div>
   </div>
</div>
